.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note
{
    font-size: 10px;
    color: black;
}
.body
{
    background-size: cover;
}
.div_song1
{
    float: left;
}
#song1
{
    font-size: 23px;
    margin: 15px;
}
.div_song2
{
    float: right;
}
#song2
{
    font-size: 23px;
    margin: 15px;
}
.play_button
{
    width: 130px;
    font-size: 25px;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
}